.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 100%;  
}

.container_main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
